html, body {
	margin: 0;
	padding:0;
	width:100%;
    font-family: "Arial", sans-serif;
}
body {
	height:100%;
}
a img {
	border: none;
}
a {
    color: #1669A1;
}

.wrapper_outer {
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
.header {

}
.content {
    padding-bottom: 100px;
    overflow: hidden;
}
.footer {
    height: 116px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.clear {
    clear: both;
}
.header_inner {
    width: 1000px;
    margin: auto;
    overflow: hidden;
}
.main_content_slider {
    width: 1000px;
    margin: auto;
}
.logo {
    float: left;
}
.top_menu {
    float: right;
    width: 660px;
}
.blue {
    background: #1669a1;
    width: 100%;
    height: 5px;
}
.top_menu td {
    text-transform: uppercase;
    font-family: "Arial", sans-serif;
    color: black;
    font-size: 11px;
    border-spacing: 0;
    padding: 0;
}
.top_menu td a {
    text-transform: uppercase;
    font-family: "Arial", sans-serif;
    color: black;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
}
.top_menu table {
    border-spacing: 0;
    width: 100%;
}
.top_menu table.inner_table td {
    padding: 9px;
    white-space: nowrap;
    text-align: center;
}
.top_menu table.inner_table td a:hover {
    color: #1669a1;
    text-decoration: underline;
}
.top_menu table.inner_table td.active a {
    color: #fff;
}
.top_menu table.inner_table td.active {
    background: #1669a1;
}
.top_menu table.inner_table td.delimiter {
    padding: 0;
}
/*.top_menu table.inner_table td.first {*/
    /*background: #1669a1;*/
/*}*/
/*.top_menu table.inner_table td.first a {*/
    /*color: #fff;*/
/*}*/
.contacts {
	float: right;
	margin: 0;
	width: 660px;
    border-top: 1px dotted;
    border-bottom: 1px dotted;
    padding: 13px 0 2px;
}
.contacts a {
	text-decoration: none;
}
.location {
    width: 170px;
    margin-right: 35px;
    float: left;
    height: 45px;
    font-size: 18px;
}
.location img, .earphones img, .lk img {
    float: left;
}
.location .wrp {
	display: block;
    margin-left: 30px;
    font-family: "Arial", sans-serif;
    font-size: 18px;
    color: #000;
    font-weight: bold;
    line-height: 17px;
}
.location .price {
    font-family: "Arial", sans-serif;
    font-size: 15px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}
.location .bottom, .lk .bottom,  .earphones .bottom{
	display: block;
    margin-left: 0;
	color: #7d7d7d;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
}
.location .bottom, .lk .bottom {
    margin-top: 1px;
}
.earphones {
    width: 190px;
    margin-right: 20px;
    float: left;
    height: 45px;
}
.earphones  .wrp {
	display: block;
    margin-left: 28px;
    font-family: "Arial", sans-serif;
    font-size: 18px;
    color: black;
    font-weight: bold;
    line-height: 19px;
}
.earphones .code {
    color: #1669a1;
    font-weight: normal;
}
.lk {
    float: right;
    width: 194px;
    height: 45px;
}
.lk .wrp {
	display: block;
	margin-left: 25px;
	font-family: "Arial", sans-serif;
	font-size: 15px;
	color: #000;
	font-weight: bold;
	line-height: 18px;
}
.lk .price a {
	font-family: "Arial", sans-serif;
	font-size: 15px;
	color: black;
	font-weight: bold;
	text-transform: uppercase;
}
.lk.logged_in .bottom {
	color: #000;
}
.main_menu {
    background: url('../img/main_menu_bg.png') repeat-x;
}
.main_slider {
    width: 1000px;
    height: 399px;
    box-shadow: 0 25px 30px -5px #999;
}
.main_slider .monitor {
    width: 660px;
    height: 400px;
    float: left;
    position: relative;
    border-top: 1px solid white;
}
#program {
    width: 340px;
    float: right;
}
.tvline {
    position: absolute;
    top: 160px;
    padding: 20px 20px 20px 55px;
    background: url('../img/blue_trans.png');
    max-width: 380px;
}
.tv01 a {
    color:white;
    font-size: 28px;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
.tv_program_li {
    width: 338px;
    height: 132px;
    list-style-type: none;
    border-top: 1px solid white;
    border-left: 1px solid white;
    cursor: pointer;
    color:white;
    font-size: 9px;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
#program ul {
    margin: 0;
    padding: 0;
}
#tv_program_1 {
    background: url('../img/controls_1.png');
}
#tv_program_2 {
    background: url('../img/controls_2.png');
}
#tv_program_3 {
    background: url('../img/controls_3.png');
}
.tv_program_li  a {
    color:white;
    font-size: 18px;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
.tv_program_li span {
    display: block;
}
.tv_program_li div {
    width: 200px;
    margin-top: 35px;
    margin-left: 20px;
}
.footer_menu {
    height: 284px;
}
.footer_inner {
    width: 960px;
    margin: auto;
}
.color_block {
    width: 258px;
    height: 108px;
    padding: 15px 30px;
    background: #316DF5;
    border: 1px solid white;
    float: left;
}
.color_block.box_1 {
    background: url('../img/div1.png');
}
.color_block.box_2 {
    background: url('../img/div2.png');
}
.color_block.box_3 {
    background: url('../img/div3.png');
}
.color_block.box_4 {
    background: url('../img/div4.png');
}
.color_block.box_5 {
    background: url('../img/div5.png');
}
.color_block.box_6 {
    background: url('../img/div6.png');
 }
.color_block a {
    font-weight: normal;
    font-size: 11px;
    color: white;
    text-decoration: none;
    display: block;
    float: left;
}
.color_block a:hover {
    text-decoration: underline;
}
.color_block.box_1 a {
    width: 200px;
}
.color_block.box_4 a {
    width: 200px;
}
.color_block.box_2 a, .color_block.box_3 a, .color_block.box_5 a {
    width: 128px;
}
.color_block .menu_header a{
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
    width: 100%;
    padding-bottom: 6px;
    text-shadow: 1px 1px 1px #216A91;
}

/*.layer1 div,.layer2 div,.layer3 div {*/
    /*height:50px;*/
    /*border:1px green solid;*/
    /*float:left;*/
/*}*/
.layer1,.layer2,.layer3 {
    overflow:hidden;
}

.layer2{
    display:none;
}
.layer2.default {
    display:block;
}
.main_menu.inner {
    width: 1000px;
    margin: auto;
}
.layer1 table, .layer2 table, .layer3 table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}
.layer1 table td, .layer2 table td, .layer3 table td {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border-left: 1px solid white;
    border-right: 1px solid white;
    text-align: center;
    vertical-align: middle;
    background: url('../img/main_menu_bg.png') repeat-x;
    height: 50px;
    cursor: pointer;
    border-collapse: collapse;
    /*position: relative;*/
}
.layer2 table td.imaged, .layer3 table td.imaged {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    height: 50px;
    cursor: pointer;
    border-collapse: collapse;
    width: 50px;
}
.layer2 table td {
    background: url('../img/menu_level2.png') repeat-x;
}
.layer1 table td div , .layer2 table td div , .layer3 table td div {
    padding: 0 35px;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: white;
}
.layer1 table td div a , .layer2 table td div a , .layer3 div a {
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.layer3 div a {
    font-size: 10px;
}
.layer2 table td div a {
    font-size: 11px;
}
.layer1 table td div a:hover , .layer2 table td div a:hover , .layer3 table a:hover {
    font-family: "Arial", sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: underline;
}
.layer1 table td div {
    background: url('../img/white_arrow.png') no-repeat right;
}
.layer1 table td div.no_arrowed {
    background: none;
}
.layer1 table td div.for_arrow {
    position: absolute;
    padding: 0;
    right: 0;
    top: 5px;
    height: 40px;
    border-left: 1px solid;
}
.layer1 table td div.for_arrow img {
    margin-top: 18px;
    margin-left: 6px;
}
.layer2 table td, .layer3 table td {
    border-top: 1px solid white;
}
.layer2 table td img, .layer3 table td img {
    float: left;
}
.layer1 table td.active, .layer3 table td.active {
    background: url("../img/menu_active.png") repeat-x;
}
.layer2 table td.active {
    background: url("../img/menu_active.png") repeat-x;
}
.layer1 table td.default, .layer2 table td.default {
    background: url("../img/menu_active.png") repeat-x;
}
div.arrowed {
    background: url('../img/white_arrow.png') no-repeat right;
}
.footer_contacts {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 3px solid #b4b4b4;
    overflow: hidden;
}
.footer_contacts.inner {
    border-top: 1px solid #1669a1;
}
.copyright {
    width: 320px;
    float: left;
    font-size: 12px;
    color: #000;
}
.copyright a {
    color: #1669a1;
}
.search {
    width: 320px;
    float: left;
    position: relative;
}
.search input[type=text] {
    width: 290px;
}
.search input[type=image] {
    float: right;
    margin-top: 4px;
}
.search_sample {
    color: #939393;
    font-size: 12px;
}
.search_sample span {
    color: black;
    border-bottom: 1px dotted black;
    cursor: pointer;
}
.search_sample a {
    color: black;
    padding-left: 5px;
}
.infield {
    cursor: text;
    font-size: 12px;
    left: 8px;
    position: absolute;
    top: 6px;
    font-style: italic;
}
.our_logo img {
    margin-right: 10px;
    float: left;
}
.our_logo {
    float: right;
    width: 188px;
    color: black;
    font-size: 11px;
}
.our_logo div {
    float: right;
}
.our_logo a {
	text-decoration: none;
	color: #000;
}
.main_left {
    width: 1236px;
    margin: 25px auto auto;
    color: #1b689c;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}
.company_info {
    width: 960px;
    margin: 30px auto auto;
    overflow: hidden;
}
.main_descr {
    width: 600px;
    float: left;
    font-size: 14px;
    padding-right: 40px;
}
.main_descr img {
    margin: 15px;
    float: left;
}
.main_geografy {
    width: 300px;
    float: right;
    font-size: 12px;
}
.descr_title {
    font-size: 23px;
}
.descr_title span {
    font-weight: bold;
}
/*.main_geografy table {
    margin-left: 20px;
}*/
.main_geografy table td {
    padding: 0 5px 0 5px;
    font-size: 12px;
}
.main_geografy table td a {
    color: #000;
}
.main_geografy table .price {
    font-weight: bold;
}
.main_geografy ul {
    width: 300px;
    float: left;
    padding: 0;
    margin: 0;
}
.main_geografy .country img {

}
.content_inner {
    width: 960px;
    margin: 30px auto;
    overflow: hidden;
    position:relative;
}
.content_static {
    width: 960px;
    margin: 30px auto;
    overflow: hidden;
}
.inner_menu {
    margin-top: 10px;
    overflow: hidden;
    margin-bottom: 30px;
}
/*.menu_item {
    width: 208px;
    padding: 2px;
    border: 2px solid #31a7db;
    color: #fff;
    margin-right: 45px;
    float: left;
    background: #31a7db;
}*/
.menu_item {
    width: 220px;
    padding: 2px;
    /*border: 2px solid #31A7DB;*/
    color: white;
    float: left;
    /*background: #31A7DB;*/
    margin: 0 16px 15px 0;
    border: 2px solid #F8A501;
    background: #F8A501;
}
.menu_item.right {
    margin: 0;
}
.menu_item.active {
    color: #000;
    background: white;
    cursor: pointer;
}
.menu_item.active div a {
    color: #000;
}
.menu_item div {
    width: 100px;
    padding-left: 10px;
    height: 94px;
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}
.menu_item img {
    float: left;
    border: 2px solid white;
}
.other_menu {
    margin-top:20px;
}
.other_menu table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    font-size: 12px;
}
.other_menu table td {
    padding: 10px 30px;
    border-left: 1px dotted #1669a1;
    border-right: 1px dotted #1669a1;
}
.banners {
    width: 338px;
    height: 408px;
    float: right;
    margin-bottom: 30px;
    margin-left: 20px;
    position: relative;
}
#ban {
    position: absolute;
    top: 0;
}
#ban.fixed {
    position: fixed;
}
#ban.absolute {
    position: absolute;
    top:auto;
    bottom: 0;
}
.one_news {
    width: 560px;
    float: left;
}
.static_text {
    width: 560px;
    float: left;
    font-size: 14px;
}
h2 {
    font-size: 23px;
    font-weight: bold;
}
.one_news .date, .list_news .date {
    font-size: 14px;
    text-align: right;
}
.one_news img, .list_news img {
    width: 77px;
    height: 77px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.list_news {
    width: 560px;
    float: left;
}
.list_news .date {
    font-size: 14px;
	text-align: left;
	margin-top: 20px;
}
.list_news h3 {
	margin-top: 5px;
}
.list_news ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.list_news ul li {
    overflow: hidden;
	font-size: 14px;
}
.prices ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#entity_req_form input[type=text] {
    border: 1px solid #999999;
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
    width: 377px;
}
#entity_req_form {
    font-size: 14px;
}
#entity_req_form select {
    width: 389px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #999;
}
#entity_req_form  table td {
    padding-bottom: 10px;
}
#entity_req_form textarea {
    width: 556px;
    border-radius: 5px;
    border: 1px solid #999;
}
#country_source label {
    padding: 0 10px 10px 5px;
}
#country_receiver label {
    padding: 0 10px 10px 5px;
}
#entity_req_form input[type=submit] {
    background: url('../img/urid_submit.png') repeat-x;
    width: 389px;
    color: #717171;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    height: 52px;
	cursor: pointer;
}
#entity_req_form .multiselect, #account_req_form .multiselect {
    float: left;
    height: 138px;
    width: 259px;
    font-size: 12px;
}
#account_req_form .multiselect {
    width: 273px;
}

/*#entity_req_form #kind_activities_original, #entity_req_form #kind_activities_added {*/
    /*width: 259px;*/
/*}*/
/*#entity_req_form #country_source_original, #entity_req_form #country_source_added {
    width: 389px;
}
#entity_req_form #country_receiver_original, #entity_req_form #country_receiver_added{
    width: 563px;
}*/
#entity_req_form .fly_buttons, #account_req_form .fly_buttons {
    float: left;
    margin-top: 40px;
    width: 45px;
}
#entity_req_form .clear_button {
    margin: 8px 29px 8px 0;
    float: right;
    width: 174px;
}
#account_req_form .clear_button {
    margin: 8px 5px 8px 0;
    float: right;
    width: 174px;
}
.error {
    color: red;
    font-size: 12px;
}
.error.small {
	font-size: 11px;
}
#account_req_form input[type=text] {
    border: 1px solid #999999;
    border-radius: 5px;
    padding: 5px;
    width: 377px;
}
#account_req_form #account_req_turnover {
    width: 190px;
    float: left;
}
#currency {
    float: left;
    margin: 8px 0 0 15px;
}
#account_req_form {
    font-size: 14px;
}
#account_req_form select {
    width: 389px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #999;
}
#account_req_form table td {
    padding-bottom: 10px;
}
#account_req_form textarea {
    width: 585px;
    border-radius: 5px;
    border: 1px solid #999;
}
#country_source label, #sources label, #country_receiver label, #kind_activities label {
    padding: 0 10px 10px 5px;
    display: block;
    margin-left: 20px;
}
#country_source input[type=checkbox], #sources input[type=checkbox], #country_receiver input[type=checkbox], #kind_activities input[type=checkbox] {
    display: block;
    float: left;
}
#account_req_form input[type=submit] {
    background: url('../img/urid_submit.png') repeat-x;
    width: 389px;
    color: #717171;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    height: 52px;
	cursor: pointer;
}

.pager .curr {
    background-color: #1669A1;
    color: #fff;
    margin: 0 8px;
    padding: 2px 5px;
    text-decoration: none;
}
.pager a {
    padding: 5px;
}
.pager {
    margin-top: 20px;
}
.service_cont {
    width: 600px;
}
.search_cont .search {
    float: none;
}
.search_cont ol.search {
    float: none;
    width: 560px;
    padding-left: 40px;
}
.search_cont ol li {
    margin-bottom: 20px;
}
/*#callback_form {
    width: 500px;
    height: 500px;
}*/
.breadcrumbs {
    color: #333;
    font-size: 11px;
}
.success_callback {
    margin-top: 20px;
    text-align: center;
}
.ui-widget-header  {
    border: none !important;
    background: none !important;
}
#callback_form input[type=text] {
    border-radius: 5px;
    height: 20px;
    padding: 10px;
    width: 300px;
}
#callback_form select {
    width: 322px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #999;
    padding: 4px 10px 6px;
}
#callback_form div {
    margin-top: 10px;
    font-size: 18px;
}
#div_call_back {
	display: block;
}
#final_call_back {
    margin-right: 34px;
    width: 88px;
    height: 29px;
    color: white;
    font-size: 17px;
    background: #1669A1;
    border: none;
    display: block;
    text-decoration: none;
    padding-top: 7px;
    padding-left: 20px;
    float: right;
}
.country_source {
    margin-bottom: 20px;
}
.subject-tags {
    padding: 0px 10px 5px 0;
    font-size: 12px;
}
.form_container {
    width:600px;
}
#transport_req_form input[type=text]{
    border: 1px solid #999999;
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
    width: 377px;
}
#transport_req_form {
    font-size: 14px;
}
#transport_req_form select {
    width: 389px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #999;
}
#transport_req_form table td {
    padding-bottom: 10px;
    padding: 0 0 10px 0;
    vertical-align: middle;
}
#transport_req_form textarea {
    border: 1px solid #999999;
    border-radius: 5px 5px 5px 5px;
    width: 383px;
}
#transport_req_form input[type=submit] {
    background: url('../img/urid_submit.png') repeat-x;
    width: 389px;
    color: #717171;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    height: 52px;
	cursor: pointer;
}
#transport_req_form table, #account_req_form table {
    border-spacing: 0;
}
#transport_req_form #transport_req_cost {
    width: 175px;
    float: left;
}
#transport_req_form #transport_req_currency {
    width: 175px;
    float: right;
}

#calculator_req_form input[type=text]{
    border: 1px solid #999999;
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
	width: 368px;
}
#calculator_req_form {
    font-size: 14px;
}
#calculator_req_form .add_buttons {
	width: 600px;
}
#calculator_req_form select {
	width: 380px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #999;
}
#calculator_req_form table td {
    padding-bottom: 10px;
    padding: 0 0 10px 0;
    vertical-align: middle;
}
#calculator_req_form textarea {
    border: 1px solid #999999;
    border-radius: 5px 5px 5px 5px;
	width: 374px;
}
#calculator_req_form input[type=submit] {
    background: none #1669a1;
	padding: 8px 15px;
    color: #fff;
    font-size: 14px;
	border: none;
	cursor: pointer;
	margin-right: 20px;
}
.calc_bc {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 15px;
	color: #7a7a7a;
}
.calc_bc a {
	color: #7a7a7a;
	text-decoration: none;
}
.calc_bc a:hover {
	text-decoration: underline;
}
.calc_bc span {
	color: #000;
}
.pull-right {
	float: right;
}
#calculator_req_form input[type=submit]:hover {
	background-color: #1c82c7;
}
#calculator_req_form table, #account_req_form table {
    border-spacing: 0;
}
#calculator_req_form #transport_req_cost {
    width: 175px;
    float: left;
}
#calculator_req_form #transport_req_currency {
    width: 175px;
    float: right;
}
.list_countries .list {
    list-style: none;
    padding: 0;
}
.top_menu table.inner_table td.zayavki-menu {
    background: #F8A501;
}
.top_menu table.inner_table td.zayavki-menu a:hover {
    color: #000;
    text-decoration: underline;
}
.service_cont.price table, .service_cont.serv table {
    border: 0;
    border-spacing: 1px;
    width: 100%;
    font-size: 12px;
}
.service_cont.price th, .service_cont.serv th {
    background: #0a7dbb;
    padding: 5px;
    color: #fff;
    font-weight: normal;
}
.service_cont.price td, .service_cont.serv td {
    padding: 5px;
}
.content_static table {
    border: 0;
    border-spacing: 1px;
    width: 100%;
    font-size: 12px;
}
.content_static th {
    background: #0a7dbb;
    padding: 5px;
    color: #fff;
    font-weight: normal;
}
.content_static td {
    padding: 5px;
}
td.error_fix {
    vertical-align: top;
}
form .chzn-container-multi .chzn-choices {
    border: 1px solid #999999;
    border-radius: 5px;
    padding: 0;
    width: 387px;
    box-shadow: none;
}
form .chzn-container .chzn-drop {
    width: 387px !important;
}
.popup-auth-reg {
	/*min-width: 500px;*/
}
.popup-auth-reg .authorization {
	/*width: 290px;*/
	/*float: left;*/
}
.popup-auth-reg .registration {
	/*width: 290px;*/
	/*float: left;*/
}
.popup-auth-reg input[type=text], .popup-auth-reg input[type=password] {
	border-radius: 5px;
	height: 15px;
	padding: 5px;
	width: 180px;
}
.popup-auth-reg input[type=submit] {
	color: white;
	font-size: 17px;
	background: #1669A1;
	border: none;
	display: block;
	text-decoration: none;
	padding: 5px 15px;
	width: 194px;
	cursor: pointer;
}
.popup-auth-reg label {
	font-size: 14px;
	font-weight: bold;
	color: #333;
}
.remind_password {
	display: none;
	padding: 0.5em 1em;
	background: none #eaeaea;
}
.cabinet h1 {
	font-size: 23px;
}
.cabinet .personal-menu {
	width: 200px;
	float: left;
	margin-right: 45px;
}
.cabinet .personal-menu > div {
	margin-bottom: 10px;
}
.cabinet .personal-menu > div a {
	color: #5eacda;
	font-size: 16px;
}
.cabinet .lefter {
	width: 600px;
	font-size: 14px;
}
.cabinet .lefter th {
	width: 200px;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
}
.cabinet .lefter td {
	padding-bottom: 5px;
}
.cabinet .lefter input[type=text], .cabinet .lefter input[type=password] {
	width: 390px;
	border-radius: 5px 5px 5px 5px;
	padding: 5px;
	border: 1px solid #c0c0c0;
}
.cabinet .lefter .toshow {
	color: #5eacda;
	font-size: 11px;
	padding-left: 10px;
}
.cabinet .lefter span.hidden {
	display: none;
}
.cabinet .big_butt {
	background: url("../img/btn_bg.png") repeat-x scroll 0 center transparent;
	border: medium none;
	color: #756A6A;
	font-size: 12px;
	height: 55px;
	text-transform: uppercase;
	width: 390px;
}
.cabinet .data {
	margin-left: 245px;
}
.cabinet .order_title {
	background: #0a7dbb;
	padding: 5px;
	color: #fff;
	text-align: center;
	margin-bottom: 20px;
	font-size: 14px;
	margin-top: 20px;
}
.cabinet .order_title:first-child {
	margin-top: 0;
}
.striped {
	border: 0;
	border-spacing: 1px;
	width: 100%;
	font-size: 12px;
}
.striped td {
	padding: 5px;
	font-size: 12px;
}
.striped th {
	background: #e5e5e5;
	padding: 5px;
	text-align: left;
}
.head_auth {
	float: right;
	font-size: 13px;
	padding-top: 3px;
}
.blue_title {
	border-bottom: 1px solid #1669a1;
	padding-bottom: 15px;
}
.lefter input[type=submit] {
	background: none repeat scroll 0 0 #1669A1;
	border: medium none;
	color: white;
	display: block;
	font-size: 17px;
	padding: 5px 15px;
	text-decoration: none;
	width: 194px;
	cursor: pointer;
	cursor: pointer;
}
.calc .label {
	padding: 7px 0;
	margin-bottom: 15px;
}
.calc .inputs {
	margin-bottom: 20px;
}
.calc #calculator_req_form input[type=text] {
	width: 85px;
}
th {
	text-align: left;
	padding-bottom: 5px;
}
.select2-drop {
	width: 600px !important;
	font-size: 12px;
}
/*#route_first_point > td, #route_last_point > td {*/
	/*border: 1px solid #999;*/
	/*border-collapse: collapse;*/
	/*padding: 10px !important;*/
/*}*/
#route_points_table > tbody > tr > td {
	border-bottom: 1px solid #999;
	padding-top: 10px;
}
#route_points_table > tbody > tr > td:first-child {
	padding-right: 15px;
	font-weight: bold;
}
#route_points_table > thead > tr > th {
	border-bottom: 1px solid #999;
}
.small_font {
	font-size: 12px;
}
.service_cont.calc .striped {
	border-spacing: 0;
	border-collapse: collapse;
	border: 1px solid #fff;
	padding: 5px;
}
.service_cont.calc .striped th {
	background: #0a7dbb;
	padding: 5px;
	color: #fff;
	font-weight: normal;
	border: 1px solid #fff;
}
#calculator_req_form table.striped td {
	padding: 5px;
}
.celled {
	width: 190px;
	padding-right: 20px;
	float: left;
}
.celled_r {
	width: 390px;
	float: right;
	margin-bottom: 20px;
}
.clear {
	clear: both;
}
.service_cont.calc {
	overflow: hidden;
}
.ui-dialog.small_head .ui-dialog-titlebar {
	padding: 0;
	position: relative;
	z-index: 20000;
}
.ui-dialog.small_head .ui-dialog-title {
	display: none;
}
.ui-dialog.small_head .ui-dialog-titlebar-close {
	margin: 0;
	padding: 0;
	right: 5px;
	top: 7px;
}
.ui-dialog.small_head .ui-dialog-content {
	z-index: 10000;
}
.ui-widget-content.withtabs {
	border: none;
	padding: 0;
	background: none;
}
.ui-dialog.auth_reg_dialog {
	background: none;
	padding: 0;
	border: none;
}
.ui-dialog.auth_reg_dialog .withtabs .ui-widget-content {
	background: none #9FC5DE;
}
.ui-dialog.auth_reg_dialog .ui-dialog-content {
	padding: 0;
}
.withtabs.ui-tabs .ui-tabs-nav {
	padding: 0;
}
.withtabs.ui-tabs .ui-tabs-nav li {
	width: 50%;
}
.withtabs.ui-tabs .ui-tabs-nav li, .withtabs .ui-widget-header .ui-state-hover, .withtabs .ui-widget-header .ui-state-focus, .withtabs.ui-tabs .ui-widget-header .ui-state-active {
	padding: 0;
	margin: 0;
	border: none;
}
.withtabs.ui-tabs .ui-tabs-nav li.ui-state-default a,
.withtabs.ui-tabs .ui-tabs-nav li.ui-state-default a:link,
.withtabs.ui-tabs .ui-tabs-nav li.ui-state-default a:visited {
	color: #1669A1;
	text-decoration: none;
}
.withtabs.ui-tabs .ui-tabs-nav li.ui-state-hover a,
.withtabs.ui-tabs .ui-tabs-nav li.ui-state-hover a:link,
.withtabs.ui-tabs .ui-tabs-nav li.ui-state-hover a:visited {
	color: #1669A1;
	text-decoration: underline;
}
.withtabs.ui-tabs .ui-tabs-nav li.ui-state-active a,
.withtabs.ui-tabs .ui-tabs-nav li.ui-state-active a:link,
.withtabs.ui-tabs .ui-tabs-nav li.ui-state-active a:visited {
	color: #fff;
	text-decoration: none;
}
.withtabs .ui-state-default, .withtabs .ui-widget-content .ui-state-default, .withtabs .ui-widget-header .ui-state-default {
	background: none #fff;
}
.withtabs .ui-state-hover, .withtabs .ui-widget-content .ui-state-hover, .withtabs .ui-widget-header .ui-state-hover {
	background: none #fff;
}
.withtabs .ui-state-active, .withtabs .ui-widget-content .ui-state-active, .withtabs .ui-widget-header .ui-state-active {
	background: none #9fc5de;
}
.withtabs table {
	margin: 0 auto;
}
.striped .nostriped td {
	background: #e5e5e5;
}
.back_link {
	background: none #1669a1;
	padding: 8px 15px;
	color: #fff;
	font-size: 14px;
	border: none;
	cursor: pointer;
	text-decoration: none;
}
.pull-left {
	float: left;
}
.calc_outer {
	padding: 20px 10px;
	background: #A5CFE9;
}

@media print {
	.header.inner {
		display: none;
	}
	.footer.inner {
		display: none;
	}
	.breadcrumbs {
		display: none;
	}
	.banners {
		display: none;
	}
	.allnews {
		display: none;
	}
	.layer3 {
		display: none;
	}
}